* {
    outline: none;
}

html, body {
    font-family: 'Noto Sans';
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6, 
p {
    margin: 0;
}

a {
    text-decoration: none;
    transition: .3s;
    &:hover{
        opacity: .9;
        transition: .3s;
    }
}

.wrapper {
    box-sizing: border-box;
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (max-width: 1406px){
    // .wrapper {
    //     padding-left: 20px;
    //     padding-right: 20px;
    // }
}