@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans'), local('NotoSans'), url('./fonts/Noto/notosans.woff2') format('woff2'), url('./fonts/Noto/notosans.woff') format('woff'), url('./fonts/Noto/notosans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Italic'), local('NotoSans-Italic'), url('./fonts/Noto/notosansitalic.woff2') format('woff2'), url('./fonts/Noto/notosansitalic.woff') format('woff'), url('./fonts/Noto/notosansitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url('./fonts/Noto/notosansbold.woff2') format('woff2'), url('./fonts/Noto/notosansbold.woff') format('woff'), url('./fonts/Noto/notosansbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'), url('./fonts/Noto/notosansbolditalic.woff2') format('woff2'), url('./fonts/Noto/notosansbolditalic.woff') format('woff'), url('./fonts/Noto/notosansbolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic; 
}