.carusel{

}

.carusel-item{
  
}

.carusel__nav{
  display: flex;
}

.carusel__nav__prev{
  width: 50px;
  height: 40px;
  background-color: #eef3f7;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 10px;
  &::before{
    content: "";
    background-image: url("./img/carusel-nav.png");
    background-size: 17px;
    width: 17px;
    height: 11px;
    transform: rotate(180deg);
  }
  &--none{
    &::before{
      opacity: .6;
    }
  }
}

.carusel__nav__next{
  width: 50px;
  height: 40px;
  background-color: #eef3f7;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &::before{
    content: "";
    background-image: url("./img/carusel-nav.png");
    background-size: 17px;
    width: 17px;
    height: 11px;
  }
  &--none{
    &::before{
      opacity: .6;
    }
  }
}