.goods-popular {
}
.goods-popular__wrapper {
  max-width: 1150px;
}
.goods-popular__title {
  display: flex;
  align-items: center;
  margin: 30px 0;
}
.goods-popular__h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 54px;
  color: #333333;
  width: calc(100% - 110px);
}
.goods-popular__navigate {
  width: 110px;
}
.goods-popular__list {
  // z-index: 1;
  // &::before{
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   left: 0;
  //   top: 20px;
  //   width: 20px;
  //   height: calc(100% - 20px * 2);
  //   background-color: #fff;
  //   z-index: 2;
  // }
  // &::after{
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   right: 0;
  //   top: 20px;
  //   width: 20px;
  //   height: calc(100% - 20px * 2);
  //   background-color: #fff;
  //   z-index: 2;
  // }
}
.goods-popular__list-item {
  background: #FFFFFF;
  box-shadow: 0px 6px 20px rgba(20, 44, 90, 0.2);
  border-radius: 5px;
}
.goods-popular__list-item__images{
  width: 100%;
  height: 300px;
  img{
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px){
  .goods-popular__wrapper {
    max-width: 1110px;
    padding-left: 0px;
    padding-right: 0px; 
  }
}